/*
Theme Name:   sevenloft-eshop child theme
Description:  Write here a brief description about your child-theme
Author:       sevenloft
Author URL:   http://matel-electronics.com/demo
Template:     sevenloft-eshop
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  sevenloft-eshop-child
*/

/* Write here your own personal stylesheet */

html {
    font-size: 62.5%;
    font-size-adjust: 100%;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body
{
    font-size: 1.4rem;
    line-height: 1.6;
}

p
{
    font-family: "Open Sans",sans-serif;
}

header a
{
    color: #444 !important;
}

/* Header */
.header-middle {
    padding-top: 2.65rem;
    padding-bottom: 2.7rem;
    color: #2f3945;
    background: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

.container {
    max-width: 1220px !important;
}

.header-middle .container
{
    display: flex;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header-top, .header-middle, .header-bottom {
    display: flex;
}

.header-left, .header-right, .header-center {
    display: flex;
    align-items: center;
}

.header-middle .header-center
{
    flex: 1;
    justify-content: center;
}

.header-search.hs-expanded {
    max-width: 53rem;
    width: 100%;
}

.header-middle .header-right {
    margin-left: 2rem;
}

.header-middle .header-right>*:not(:last-child) {
    margin-right: 2.3rem;
}

.login {
    display: flex;
    align-items: center;
}

.login i {
    margin-top: -2px;
    font-size: 2.6rem;
    line-height: 1;
}

.call {
    color: #444;
    display: flex;
    align-items: center;
}

.call i {
    margin: 0 0 -2px 0;
    font-size: 2.6rem;
    cursor: pointer;
}

.call i+span {
    margin-left: .9rem;
}

.call span {
    font-size: 1.1rem;
    font-weight: inherit;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2px;
    letter-spacing: -.025em;
    cursor: pointer;
}

.text-normal {
    text-transform: none !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.call strong {
    font-size: 1.4rem;
}

.d-block {
    display: block !important;
}

.wishlist {
    display: inline-flex;
    align-items: center;
    transition: color .3s;
}

.wishlist i {
    font-size: 2.6rem;
    cursor: pointer;
}

.sticky-content.fix-top {
    top: 0;
}

.header-bottom {
    background: aliceblue;
    font-size: 1.3rem;
}

header .row {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.gutter-no {
    margin-left: 0;
    margin-right: 0;
}

header .category {
    border: 0;
    padding: 1.4rem 1.96rem 1.7rem;
    color: inherit;
}

.header-bottom .category {
    position: relative;
    font-size: 1rem;
}

.category-icon {
    padding: 2.4rem .5rem;
    border: 2px solid #e1e1e1;
    color: #222;
    text-align: center;
    transition: border .3s;
}

.category-icon a {
    text-decoration: none;
    color: inherit;
    transition: color .3s;
}

.category-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: background .3s;
}

.header-bottom .category-icon .category-name {
    margin: 0;
}

.header-bottom .category-name {
    color: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    text-transform: none;
    white-space: nowrap;
}

.dropdown.cart-dropdown.type2 i 
{
    font-size: 2.6rem;
}


.cart-dropdown .dropdown-box {
    padding: 2rem 3rem 3rem;
    min-width: 33.5rem;
}

.dropdown-box {
    position: absolute;
    right: 0;
    top: -9999px;
    margin: 0;
    padding: .5rem 0;
    color: #666;
    background-color: #fff;
    box-shadow: 0 2px 35px rgba(0,0,0,0.1);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: transform .2s ease-out, opacity .2s, visibility .2s;
    transform: translate3d(0, -10px, 0);
}

.dropdown:hover .dropdown-box, .dropdown.show .dropdown-box {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

header .category i {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    transition: transform .3s;
}

header .category:hover a{
    color: #fcb819;
}

.category-icon:hover i {
    color: #fcb819;
    transform: translateY(-4px);
}
/* End of Header */

/* Home banners grid*/
.banners-grid
{
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
}
.banners-grid .title-simple {
    display: block;
}

.banners-grid h2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: #242c37;
}

.banners-grid .grid .grid-item {
    padding: 1rem;
    transform: translate3d(0, 0, 0);
}

.banners-grid .grid-item .banner
{
    animation-duration: 1.2s;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    visibility: visible;
    opacity: 1;
}

.banners-grid .grid-item .banner figure
{
    position: relative;
}

.banners-grid .grid img {
    object-fit: cover;
}

.height-x2 {
    height: 454px;
}

.banner-content.top {
    top: 4.8rem;
}

.banner-fixed > .banner-content
{
    position: absolute;
    z-index: 1;
}

.banners-grid h4 {
    font-size: 2em;
}

.banners-grid h5 {
    font-size: 1.4em;
    line-height: 1;
}

.banner1 h3 {
    font-size: 3em;
    font-weight: 600;
}

.banner1 .banner-title {
    margin-top: -2px;
}

.banner-fixed > .banner-content.bottom
{
    bottom: 3.7rem;
}

a.btn.btn-dark {
    color: #222;
    border-color: #222;
    background-color: transparent;
    outline: 0;
    border-radius: 0;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.025em;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, border-color .3s, background-color .3s, box-shadow .3s;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}

a.btn.btn-dark:hover
{
    background-color: #222;
    color: #fff;
}

/* End of Home banners grid*/

/* Footer */
.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    background: #222;
}

.footer-top {
    padding: 3.8rem 0 2.5rem;
    border-bottom: 1px solid #333;
}

.footer-top {
    padding: 3.8rem 0 2.5rem;
    border-bottom: 1px solid #333;
}

.footer-middle .widget {
    margin-bottom: 2.6rem;
}

.footer .widget-about .logo-footer {
    display: block;
    margin: -1rem 0 1.3rem;
}

.logo-footer, .logo-footer img {
    display: block;
}

.footer .widget-about .widget-body {
    padding: 0;
    color: #999;
}

.footer p {
    font-size: inherit;
}

.footer .widget-about p {
    margin-bottom: 3.2rem;
    line-height: 2;
    letter-spacing: 0;
    color: #999;
}

.social-links {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer .social-link {
    letter-spacing: .005em;
    color: #999;
    border: 2px solid #666;
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
    line-height: 36px;
    margin-right: .53vw;
    transition: color .4s, border .4s, background .4s;
    text-align: center;
    border-radius: 50%;
}

.icon-box.icon-box-side {
    display: flex;
    align-items: center;
}

.icon-box.icon-box-side i {
    font-size: 40px;
    margin-right: 2rem;
}

.icon-box-side .icon-box-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: -.025em;
    line-height: 1.6;
    color: #fff;
    font-weight: 600;
}

.footer .icon-box p {
    color: #999;
    letter-spacing: .01em;
    font-size: inherit;
    line-height: 1.72;
}

.footer-middle {
    padding: 5.6rem 0 4.1rem;
    border-bottom: 1px solid #333;
}

.footer-bottom
{
    display: flex;
    align-items: center;
    padding: 2.2rem 0 3rem;
    text-align: center;
}

.footer-bottom .footer-left {
    display: flex;
    flex: 1;
}

.footer .copyright {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
}

.footer .copyright a
{
    color: #999;
}

.footer-bottom .footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-middle .widget-title {
    padding: 0.6rem 0;
    margin-bottom: .9rem;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.footer-middle .widget-body li {
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.footer-middle .widget-body li a
{
    color: #999;
}

.footer a:not(.social-link):hover {
    color: #fff;
}
/* End of Footer */